target/

# IntelliJ IDEA
.idea/
*.iml
.idea_modules/

# Eclipse
.project
.classpath
.settings/
*.launch

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Java
*.class
.class


# Maven
target/
*.target/
.target/
/target
**/target/
ass2/
ass2/target
output/results/naive_server.txt
ass1/ass1/output/results/naive_server.txt
ass1/output/results/naive_server.txt
