target/
.zip
*.zip

# IntelliJ IDEA
.idea/
*.iml
.idea_modules/

# Eclipse
.project
.classpath
.settings/
*.launch

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Java
*.class
.class

#Object files
spread-src-4.0.0

# Maven
target/
*.target/
.target/
/target
**/target/
ass2/group8
ass2/spread.conf
*.conf
